.button {
    margin-top: .5rem;
    background-color: var(--default-black);
    color: white;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.buttonIcon {
    color: #CDA274;
    display: flex;
    align-items: center;
    /* padding-left: .5rem; */
}

.btnSecondary {
    background-color: #CDA274;
}

.btnSecondary>.buttonIcon {
    color: var(--default-black);
}