.footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: grid;
}


@media screen and (max-width:700px) {
    .footer {
        text-align: center;
        grid-template-areas: 'company company'
            'pages services'
            'contact contact';
    }
}

@media screen and (min-width:700px) {
    .footer {
        gap: 1rem;
        grid-template-areas: 'company  pages services  contact';
        grid-template-columns: 2fr 1fr 1fr 2fr;
        padding: 0 15vw;
    }
}

.footerHeader {
    font-family: "DM Serif Display";
    margin-bottom: 1rem;
}

.footerSocialMedia {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    /* padding-right: 30%; */
}

.footerLogo {
    height: 100%;
    max-height: 50px;
}

.footerLogo>img {
    width: auto;
    height: 100%;
}

.footerList {
    color: var(--black-secondary);
    margin: .5rem 0;
    cursor: pointer;
}

.footerContact>p {
    margin: .5rem 0;
}

.copyright {
    margin: 1rem;
    text-align: center;
}

.company {
    grid-area: company;
    margin: 1rem 0;
}

.footerPages {
    grid-area: pages;
    margin: 1rem 0;
}

.footerServices {
    grid-area: services;
    margin: 1rem 0;
}

.footerContact {
    grid-area: contact;
    margin: 1rem 0;
}