.main {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  min-height: 50vh;
  width: 100%;
  background-image: url("/images/Photohero.png");
  background-size: cover;
  border-bottom-left-radius: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herotext {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.herotext>h1 {
  font-family: "DM Serif Display";
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

@media screen and (min-width:500px) {
  .hero {
    height: 80vh;
  }

  .herotext {
    display: block;
    margin-left: 5rem;
    max-width: 50%;
  }

}

.projectList {
  display: flex;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 1rem;
}

.projectTitle {
  font-family: "DM Serif Display";
  font-size: 1.2rem;
}

.projectDescription {
  margin: 1rem 0;
}

.projectReadMore {
  font-size: 1.1rem;
}

.contactCTA {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  /* grid-template-columns: repeat(2, max(30%)); */
  /* grid-template-rows: 1; */
  justify-content: space-between;
}

.contactCTADescription,
.contactCTAImage {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.contactCTADescription>p {
  margin: 1rem 0;
}

.contactCTAImage>img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 3rem;
}

.sectionWrapper {
  width: 100%;
  margin-top: 6rem;
}

@media screen and (min-width:700px) {
  .sectionWrapper {
    max-width: 70vw;
  }
}

.testimonials {
  width: 100%;
  background-color: #F4F0EC;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  border-radius: 2rem;
}

.testCardList {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.testCard {
  background-color: #ffff;
  margin: .3rem;
  border-radius: 10%;
  padding: 1rem;
}

.testimonialTitle {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
}

.testUser {
  display: flex;
}

.userPictures {
  border-radius: 50%;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
}

.userPictures>img {
  height: 100%;
  width: 100%;
}

.userAddress {
  font-size: .7rem;
}

.userName {
  font-family: "DM Serif Display";
}

.brands {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* @media screen and (max-width:500px) {
  .brands {
    overflow-x: auto;
  }
} */

.brandImg>img {
  max-width: 100%;
  max-height: 100%;
}

.brandImg {
  min-width: 50px;
  max-height: 4rem;
  width: calc(100vw / 10);
}

.projectsHeader {
  text-align: center;
}

.projectsTitle {
  font-family: "DM Serif Display";
}

.projectsList {
  margin: 3rem 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(max(calc(50% - 1rem/2), 300px), 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.projectsImage>img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.projectsBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
}

.projectsDesc {
  font-size: .8rem;
}

.projectsIcon {
  background-color: rgb(233, 233, 233);
  padding: .5rem .8rem;
  border-radius: 50%;
}

.projectsImage {
  overflow: hidden;
}

/* @media screen and (min-width:600px) { */

.projectsItem:nth-child(1)>.projectsImage {
  border-top-right-radius: 4rem;
}

.projectsItem:nth-child(2)>.projectsImage {
  border-top-left-radius: 4rem;
}

.projectsItem:nth-child(3)>.projectsImage {
  border-bottom-right-radius: 4rem;
}

.projectsItem:nth-child(4)>.projectsImage {
  border-bottom-left-radius: 4rem;
}

/* } */

.archievementList {
  /* color: #CDA274; */
  background-color: #F4F0EC;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin-top: 4rem;
}

.archievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.archievement:not(:last-child) {
  border-right: 1px solid #CDA274;
}

.archievement>h2 {
  font-family: "DM Serif Display";
  font-size: 3rem;
  font-weight: 400;
  color: #CDA274;
}

.CTA {
  background-color: var(--default-black);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3rem;
  padding: 2rem;
}

.CTA>h1 {
  font-family: "DM Serif Display";
  font-size: 2rem;
  font-weight: 400;
}

.CTA>button {
  margin-top: 2rem;
}

.CTA>h1,
.CTA>p {
  color: #fff;
}